/* * selector for all tags */


/* 2 ways of using font in CSS */
@font-face {
    font-family: font_roboto;
    src: url(/fonts/roboto.ttf);


}


* {
    font-family: "Poiret One", sans-serif;
    /* font-family: font_roboto; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* CSS - Header */

.header {
    /* background: red; */
}

.header .container {
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-items: center;
}

.header .hotline label {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.header .hotline span {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
}


/*  
    remove underline 
    text-decoration: none;
*/
.header .hotline a {
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    /* remove underline */
}

.header .nav-menu a {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
    text-decoration: none;
    margin: 0 10px;


    /* border-[direction]: [width] [type] [color] */
    /* border : 4 direction */
    border-right: 1px solid grey;
    padding-right: 10px;
    transition: all 0.5s;
}



/* 
    hover effect 

    tag:hover
     + transition: smoothing the transition 
        - transition: all [time] 
        - transition: [attribute],[attribute], ... [time]


*/


.header .nav-menu a:last-child {

    border: none;

}


.header .nav-menu a:hover {

    color: red;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.5s;
}

/* CSS --- LOGO & Cart */

.logo{
    /* color: red */
}


.logo .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.logo .logo-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.logo .logo-title label{
    background: red;
    color: white;
    padding: 0px 10px;
    height: 100%;
    display: inline-block; /*turn inline into inline block*/
    margin: 20px 0px;

}


.logo .cart label, .logo .cart w.fa-caret-down{
    color: red;
    font-size: 20px;
    font-weight: bold;;
}

/* CSS -- meu */

.menu {
    

    
}


.menu .container {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: black;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    transition: all 0.5;
}

.menu .container .list-item li{
    display: inline-block;
    border-right: 1px solid gray

}


.menu .container .list-item a {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    
}

.menu .container .list-item li:last-child {
    border: none;
}


.menu .container .list-item li:hover{
    background-color: red;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;

    transition: all 0.5;

}

.menu .form-search input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-right: 15px;

    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.menu .form-search input::placeholder {
    padding-left: 20px;
}

.menu .form-search input::after{

    content: var(--fa) /
}