
.flex-container{
    width:  300px;
    height: 600px;
    background: orange;


    /* row is default (main will be row) */
    display: flex; 

    /* either row or col */
    flex-direction: row; 

    /* trục chính */
    /* 
        also have: 
        + space-between 
        + space-around    
        
    */
    justify-content: center;


    /* trục phụ */
    align-items: center; 

    

    gap: 10px;

}

.item{
    width: 50px;
    height: 50px;
    background: green;
}