.header a.active {
    color: var(--bs-danger) !important;
    font-weight: 700 !important;

}

.header .navbar-nav li {
    position: relative;
}

.header .navbar-nav li::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    left: 5px;
    margin: 0 auto;
    display: block;
    background: black;

    transition: all 0.5s;
}

.header {
    z-index: 10;
}

.header .navbar-nav li:hover:after {
    position: absolute;
    content: "";
    width: 85%;
    height: 2px;
    left: 5px;
    margin: 0 auto;
    display: block;
    background: black;

    transition: all 0.5s;
}

.carousel-demo .img-carousel {
    max-height: 700px !important;
}

.carousel-demo .img-profile {
    width: 150px;
}

.carousel-demo .carousel-inner .carousel-caption {
    z-index: 2;
}

.carousel-demo .carousel-inner .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 1;
}


.carousel-demo .carousel-indicators .active {
    opacity: 1;
    width: 20px;
    background: var(--bs-danger);
    border-radius: 50%;

}

.carousel-indicators [data-bs-target] {
    width: 20px;
    background: var(--bs-secondary);
    border-radius: 50%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: var(--bs-danger);

}

.projects .card:hover {
    border: 1px solid var(--bs-danger);
}

.projects .tab-pane .card {
    animation: display-zoom-item .3s;
}

@keyframes display-zoom-item {
    0% {
        transform: scale(0, 0);

    }

    100% {
        transform: scale(1, 1)
    }
}