:root{
    /*text: kích thước, màu sắc, độ đậm nhạt */
    --text-base:16px;
    --text-xl:18px;
    --text-2xl:20px;
    --text-3xl:30px;
    --text-4xl:40px;
    --text-5xl:50px;
    --text-6xl:60px;

    --text-primary: red;
    --text-dark:gray;
    --text-light:#fff;

    --fw-bold:bold;
    --fw-light:300;
    
    --bg-primary:red;


}

@font-face {
    font-family: font-web;
    src: url('/fonts/roboto.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-web;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    /* background-color: red; */
}
.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.header .contact .help{
    font-size: var(--text-base);
    font-weight: bold;
    color: #000;
}
.header .contact .phone{
    font-size: var(--text-base);
    font-weight: bold;
    color: var(--text-primary);
}

.header .features-menu .menu {
    display: flex;
    gap: 10px;
}
.header .features-menu .menu a {
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: var(--text-dark);
    /* border-right: 1px dashed gray; */
    padding-right: 10px;
    text-decoration: none;
    /* transform: scale(1,1); */
    transition: color,transform 0.5s;
    position: relative;
}
.header .features-menu .menu a::after{
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width:0;
    height: 2px;
    background: var(--bg-primary);
    transition: width 0.5s;
}
.header .features-menu .menu a:hover::after{
    width:100%;
    transition: width 0.5s;
}
/*:hover khi rê chuột vào sẽ thay đổi css tương ứng*/
.header .features-menu .menu a:hover{
    color: var(--text-primary);
    /* transform: scale(2,2); */
    transition: color,transform 0.5s;
}
.header .features-menu .menu a:last-child {
    border-right: none;
}
/* .item-last{
    border-right: none;
} */

.logo-cart{
    /* background-color: orange; */
}

.logo-cart .container{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.logo-cart .logo {
    font-size: var(--text-3xl);
    font-weight: var(--fw-bold);
    color: #000;
    text-transform: uppercase;
}
.logo-cart .logo .h {
    background: var(--bg-primary);
    color: #fff;
    padding: 5px 10px;
}
.logo-cart .cart-text,.logo-cart i {
    color: var(--text-primary);
}
.logo-cart i {
    transform: translateY(-5px);
}


.menu-bar {
    background: rgb(39, 39, 39);
}

.menu-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.menu-bar .menu-home {
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-bar .menu-home a {
    display: block;
    text-decoration: none;
    font-size: var(--text-base);
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #8b8989;
    height: 100%;
    padding:20px;
    transition: all 0.5s;
}
.menu-bar .menu-home a:hover {
    background: rgb(184, 2, 2);
    transition: all 0.5s;
}
.menu-bar .frm-search{
    width: 50%;
    text-align: right;
}
.menu-bar  .frm-search .input-search {
    width: 50%;
    height: 30px;
}
.menu-bar  .frm-search i{
    transform: translateX(-30px);
    color: #8b8989;
}

/*----------categories-----------------*/

.categories {
    /* background-color: orange; */
    margin-top: 15px;
}
.categories .container{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
}
.categories .category{
    width: 30%;
    height: 100%;
    /* background-color: red; */
}
.categories .carousel{
    width: 70%;
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 300px;
}
.categories .carousel img{
    height: 200px;
}

.categories .category .title{
    text-transform: uppercase;
    font-size: var(--text-2xl);
    color: #fff;
    font-weight: var(--fw-bold);
    background: red;
    padding: 15px 10px;
}
.categories .category .list {
    border:  1px solid #8b8989;
    padding: 15px;
    border-top-width: 0px;
}

.categories .category .list li{
    list-style: none;
    color: var(--text-dark);
    font-size: var(--text-2xl);
    font-weight: var(--fw-light);
}

.categories .category .list li.item {
    border-bottom: 1px solid #8b8989;
    padding-bottom: 15px;
}

/* .categories .category .list li.item::after {
    content: "";
    height: 1px;
    width: 100%;
    background: red;
    display: block;
    margin-top: 15px;
} */

.categories .category .list li.item h1{
    color: var(--text-dark);
    font-size: var(--text-2xl);
    padding: 10px;
    font-weight: var(--fw-light);
}
.categories .category .list li.item h1::before{
    content: "›";
    font-size: var(--text-3xl);
    color: var(--text-dark);
    padding-right: 15px;
}

.categories .category .list li.item .item-list {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.categories .category .list li.item:hover h1{
    background-color: #ece5e5;
    cursor: pointer;
}
.categories .category .list li.item:hover .item-list  {
    /* display: block; */
    height: 100%;

    opacity: 1;
    transition: all 0.5s;
}
.categories .category .item-list .li-item  {
    margin-left: 35px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.categories .category .item-list .li-item:hover a{
    color: red;
    transition: all 0.5s;
}
.categories .category .item-list .li-item a{
    text-decoration: none;
    font-size: var(--text-base);
    color: #8b8989;
    font-weight: var(--fw-light);
}


.categories .carousel .desc {

}
.categories .carousel .desc h2 {
    font-size: var(--text-4xl);
    font-weight: var(--fw-bold);
    color: red;
    text-transform: uppercase;
}
.categories .carousel .desc h3 {
    font-size: 150px;
    font-weight: var(--fw-bold);
    color: red;
    text-transform: uppercase;
}
.categories .carousel .desc .desc-sale {
    font-size: var(--text-3xl);
    font-weight: var(--fw-light);
    color: #8b8989;
}
.categories .carousel .desc .desc-detail {
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: #000;
    width: 60%;
    word-wrap: break-word; /*xuống dòng văn bản cả từ*/
    text-align: left;  
    line-height: 1.5; /*Khoảng cách giữa các dòng trong thẻ p*/
    margin-bottom: 15px;
}
.categories .carousel .btn {
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: #fff;
    border: none;
    background-color: red;
    border-radius: 5px;
    padding: 10px 15px ;
    cursor: pointer;
    transition: all 0.3s;
}
.categories .carousel .btn:hover {
    background-color: rgb(130, 18, 18);
    border-radius: 5px;
    transition: all 0.3s;
}
.categories .carousel  {
    border: 1px solid #d4d4d4;
    padding: 50px;
}


.products {
    /* background-color: orange; */
    margin: 15px;
}


.products .product-title {
    border:1px solid #d4d4d4;
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 15px 0px;
}
.products .product-title h1{
    font-size: var(--text-2xl);
    font-weight: var(--fw-light);
    color: #000;
    text-transform: uppercase;
}
.products .product-title a {
    font-size: var(--text-2xl);
    font-weight: var(--fw-light);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.5s ease-in;
}
.products .product-title a:hover{ 
    color: red;
    transition: all 0.5s ease-in-out;
}

.products .product-title a::after{
    content: ">";
    color: red;
    font-weight: var(--fw-bold);
}

.products .product-item {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: red; */
    gap: 15px;
}
.products .product-item .item{
    /* background-color: green; */
}
.products .product-item .item .card{
    padding:15px;
    border:  1px solid #d4d4d4;
}
.products .product-item .item .card img {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.products .product-item .item .card .card-title {
    border-bottom: 1px solid red;
    padding: 15px 0px;
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: #8b8989;
    text-align: center;
}

.products .product-item .card-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.products .product-item .item .card .card-desc .price {
    font-size: var(--text-2xl);
    font-weight: var(--fw-light);
    color: #000;
}
.products .product-item .item .card .btn-add-to-cart {
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: #fff;
    border: none;
    background-color: red;
    padding: 10px 15px ;
    cursor: pointer;
    transition: all 0.3s;
}
.products .product-item .item .card .btn-add-to-cart:hover{
    background-color: rgb(145, 6, 6);
    color: #fff;
    transition: all 0.3s;
}

/*--------------------------Footer-----------------*/

.footer {
    /* background-color: orange; */
    border-top: 1px solid #d4d4d4;
    margin-top: 50px;
}
.footer .container {
    min-height: 300px;
}
.footer .container .flex{
    display: flex;
}
.footer .flex .flex-item {
    width: 25%;
    border-left: 1px solid #d4d4d4;
}
.footer .flex .flex-item h1{
    border-bottom: 1px solid #d4d4d4;
    width: 80%;
    padding:20px;
    text-align: center;
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: var(--text-dark);
    text-align: left;
}
.footer .flex .flex-item li {
    list-style: none;
    padding: 5px 15px;
}
.footer .flex .flex-item li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: var(--fw-light);
    color: rgba(8, 132, 247, 0.984);
    text-transform: capitalize;
    transition: all 0.5s;

}
.footer .flex .flex-item li:hover a{
    color: red;
    transition: all 0.5s;
}

.footer .flex .flex-item .social h3{
    border-bottom: 1px solid #d4d4d4;
    width: 80%;
    padding:20px;
    text-align: center;
    font-size: var(--text-base);
    font-weight: var(--fw-light);
    color: var(--text-dark);
    text-align: left;
}
.footer .flex .flex-item .social .link {
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 150px;
}
.footer .flex .flex-item .social .link a {
    color: red;
    transition: all 0.5s;
    cursor: pointer;
}
.footer .flex .flex-item .social .link a:hover {
    color: blue;
    transition: all 0.5s;
}
.copy-right{
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #d4d4d4;
}
.copy-right p {
    text-align: center;
    font-size: 13px;
    font-weight: var(--fw-light);
    color: #8b8989;
}
.copy-right a{
    color: red;
    transition: all 0.5s;
}
.copy-right a:hover{
    color: blue;
    transition: all 0.5s;
}



