<div class="card text-white bg-primary mb-5">
    <img class="card-img-top" src="products/@mauXe-car.jpg" alt="Title" />
    <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
    </div>

    <div class="card-footter">
        <button class="btn btn-dark text-white">Experience</button>
    </div>
</div>

@code {
    [Parameter]
    public string mauXe { get; set; } = "";
}